@import "variables"; 
@import "plugins/scrollbars";

.markdown code { 
    background: $gray-200; 
    color: $gray-800;
    padding: 2px;
  } 

.markdown pre { 
    background: $gray-200; 
    color: $gray-800;
    padding: 2px;
  }

.markdown blockquote { 
    background: $gray-300;
    border-color: $grey-dark; 
    color: $terminal-red;
  }

.markdown hr { 
    background-color: $terminal-blue; 
  }

body { 
    color: $gray-800;
    background: $gray-400; 
  }

// book.scss
.container {
    max-width: $container-max-width;
  }

@media screen and (min-width: $container-max-width) {
  }

.book-search {
  background: $terminal-blue;
}

// img {
//   width: 10%;
//   margin: auto;
// }

.markdown img {
  max-width: 15%;
}

.book-toc {
  img {
    width: 100%;
    filter: brightness(0) invert(1);
  }
}

// a {
//   text-decoration: none;
//   color: $terminal-green;

//   &:visited {
//     color: $white;
//   }
// }

.book-posts {
    min-width: $body-min-width;
    max-width: $body-min-width * 4;
  }

  aside nav ul {
    a {
      display: block;
      color: $terminal-blue;
    }
  
    a:hover {
      opacity: 0.5;
      color: $white;
    }
  }

  .book-footer {
    a {
      color: $terminal-blue;
    }
  }

  h3 {
    color: $terminal-blue;
  }

  h4 {
    color: $terminal-green;
  }

  // Wrap text in code blocks
  .markdown pre code {
    white-space: break-spaces;
}


// Make blockquotes look like code styling
.markdown blockquote {
  margin: 1rem 0;
  padding: 2px;
  border-left: none;
}

blockquote {
  display: block;
  font-family: roboto mono,monospace;
  font-size: .875em;
}

// Set h-levels
.markdown h5 {
  font-size: 1.00em;
  text-decoration: underline;
}

.markdown h6 {
  font-size: 1.00em;
  font-style: italic;
}

// CSS used by the epitaph shortcode
html,
.widget {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  width: 100%;
  line-height: 1.1em;
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: url('static/fonts/inconsolata-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('static/fonts/inconsolata-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('static/fonts/inconsolata-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('static/fonts/inconsolata-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('static/fonts/inconsolata-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('static/fonts/inconsolata-v20-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

.widget {
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;
}

#container {
  padding: 0 1em 1em 1em;
}

#container output {
  clear: both;
  width: 100%;
}

#container output h2 {
  letter-spacing: 4px;
  // display: block;
  // font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  font-weight: bold;
}

.core {
  color: rgb(196, 63, 63);
}

.root {
  color: rgb(71, 199, 125);
}

.fold {
  color: rgb(66, 150, 228);
}

.protected {
  color:black;
  background: white;
}