<div class="widget">
    <div id="container">
        <output>
        <span class="root">= ONE@ROOT:</span><span> state = {"daemon":"{{ .Get "daemon" }}"}</span><br>
        <span class="core">< INK@CORE:</span><span> /epitaph</span> <span class="protected">[PROTECTED]</span></span><br>
        <span class="fold">> PEN@FOLD:</span>
        <h2>{{ .Get "ink" }} Ink</h2>
        {{ .Get "statement" | safeHTML }}<br><br>
        Pen<br><br>
        <span class="core">< INK@CORE:</span><span> {{ .Get "response" }}</span><br>
        </output>
    </div>
</div>